MyWebClient/src/pers/liam/CountManagerClient/MyService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="pers.liam.countManager.MyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="pers.liam.countManager.MyService" name="MyServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="pers.liam.countManager.MyService" schemaLocation="http://localhost:8080/MyService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"></part>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"></part>
</message>
<message name="modify_userInfo">
<part name="parameters" element="tns:modify_userInfo"></part>
</message>
<message name="modify_userInfoResponse">
<part name="parameters" element="tns:modify_userInfoResponse"></part>
</message>
<message name="get_userInfo">
<part name="parameters" element="tns:get_userInfo"></part>
</message>
<message name="get_userInfoResponse">
<part name="parameters" element="tns:get_userInfoResponse"></part>
</message>
<message name="verify_userInfo">
<part name="parameters" element="tns:verify_userInfo"></part>
</message>
<message name="verify_userInfoResponse">
<part name="parameters" element="tns:verify_userInfoResponse"></part>
</message>
<portType name="MyServiceImpl">
<operation name="addUser">
<input wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/addUserRequest" message="tns:addUser"></input>
<output wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/addUserResponse" message="tns:addUserResponse"></output>
</operation>
<operation name="modify_userInfo">
<input wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/modify_userInfoRequest" message="tns:modify_userInfo"></input>
<output wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/modify_userInfoResponse" message="tns:modify_userInfoResponse"></output>
</operation>
<operation name="get_userInfo">
<input wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/get_userInfoRequest" message="tns:get_userInfo"></input>
<output wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/get_userInfoResponse" message="tns:get_userInfoResponse"></output>
</operation>
<operation name="verify_userInfo">
<input wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/verify_userInfoRequest" message="tns:verify_userInfo"></input>
<output wsam:Action="pers.liam.countManager.MyService/MyServiceImpl/verify_userInfoResponse" message="tns:verify_userInfoResponse"></output>
</operation>
</portType>
<binding name="MyServiceImplPortBinding" type="tns:MyServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modify_userInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="get_userInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="verify_userInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="MyServiceImplService">
<port name="MyServiceImplPort" binding="tns:MyServiceImplPortBinding">
<soap:address location="http://localhost:8080/MyService"></soap:address>
</port>
</service>
</definitions>